In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime
%matplotlib inline

In [4]:
os.chdir("CRE Data")

In [5]:
df=pd.read_excel("CRE_08102018smallchangeDowngradecalculation.xlsx")

In [ ]:
### downgrade cases is calculated in the excel spreadsheet as it is a loop over all rows in the dataframe

In [6]:
df['Downgrade'].value_counts()   ###new downgrade calculation, less downgrade

0.0    187784
1.0      7998
Name: Downgrade, dtype: int64

In [11]:
df['Downgrade Notch'].describe()

count    195782.000000
mean          0.050357
std           0.264651
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: Downgrade Notch, dtype: float64

In [13]:
Frr2=pd.pivot_table(df,index=['DATE','CUST_NAME','FACILITY_NUM'],values=['CRR','Downgrade','Downgrade Notch','NET_COMMIT_AMT','OUT_BAL'])

In [14]:
dfFacilityCom2=Frr.reset_index().rename_axis(None,axis=1)

In [15]:
dfFacilityCom2

,DATE,CUST_NAME,FACILITY_NUM,CRR,Downgrade,Downgrade Notch,NET_COMMIT_AMT,OUT_BAL
0,2005-03-31,"""CORAM DEO, LLC""",1.592124e+19,6.000000,0.0,0.0,5.676000e+05,5.676000e+05
1,2005-03-31,"""DP INDUSTRIAL LLC, A DELAWARE LTD. LIAB""",2.051581e+19,5.000000,0.0,0.0,8.131556e+06,8.131556e+06
2,2005-03-31,"""GREAT WEST PROPERTIES, LLC""",3.341848e+19,6.000000,0.0,0.0,5.456056e+05,5.456056e+05
3,2005-03-31,"""MAJ, LLC""",5.648696e+19,5.000000,0.0,0.0,1.263000e+06,1.263000e+06
4,2005-03-31,1050 BATTERY STREET ASSOCIATES LLC,9.987780e+19,4.000000,0.0,0.0,3.048930e+06,3.048930e+06
5,2005-03-31,"10519 E STOCKTON, LLC",9.987783e+19,5.000000,0.0,0.0,3.963909e+06,3.963909e+06
6,2005-03-31,1060 SHERBOURNE ASSOCIATES LP,9.987785e+19,6.000000,0.0,0.0,2.715611e+06,2.715611e+06
7,2005-03-31,12 STONES FAMILY LIMITED PARTNERSHIP,9.987830e+19,4.000000,0.0,0.0,2.025248e+06,2.025248e+06
8,2005-03-31,120 S DOHENY LLC,9.987914e+19,6.000000,0.0,0.0,1.802838e+06,1.802838e+06
9,2005-03-31,12K PROPERTIES LLC,9.987839e+19,6.000000,0.0,0.0,6.309734e+05,6.309734e+05
10,2005-03-31,1340 OLD BAYSHORE ASSOCIATES,9.988132e+19,4.000000,0.0,0.0,1.044431e+06,1.044431e+06
11,2005-03-31,14023 NE 8TH STREET LLC,9.988593e+19,6.000000,0.0,0.0,5.587259e+05,5.587259e+05
12,2005-03-31,"1431 VIA PLATA, LLC",9.988599e+19,5.000000,0.0,0.0,6.730704e+06,6.730704e+06
13,2005-03-31,144 NORTH SAN MATEO DRIVE LLC,9.988608e+19,5.000000,0.0,0.0,5.358257e+05,5.358257e+05
14,2005-03-31,1550 E MC FADDEN ENTERPRISES,9.988849e+19,8.000000,0.0,0.0,7.021508e+05,7.021508e+05
15,2005-03-31,1634 SW ALDER LLC,9.988270e+19,6.000000,0.0,0.0,1.178464e+06,1.178464e+06
16,2005-03-31,17 PASTEUR INVESTORS LLC,9.988901e+19,5.000000,0.0,0.0,2.595037e+06,2.595037e+06
17,2005-03-31,1723 CLOVERFIELD PTNERS LLC,9.988904e+19,5.000000,0.0,0.0,4.481224e+06,4.481224e+06
18,2005-03-31,17422 DERIAN,9.988906e+19,5.000000,0.0,0.0,8.127320e+06,8.127320e+06
19,2005-03-31,17834 BURBANK INVESTMENTS,9.988933e+19,3.000000,0.0,0.0,2.035613e+06,2.035613e+06
20,2005-03-31,18061 FITCH L P,9.988938e+19,5.000000,0.0,0.0,2.842245e+06,2.842245e+06
21,2005-03-31,"1811 QUAIL, LLC",9.988940e+19,6.000000,0.0,0.0,2.850000e+06,2.850000e+06
22,2005-03-31,1873 WP PROPERTIES LLC,9.989030e+19,5.000000,0.0,0.0,5.250000e+06,5.250000e+06
23,2005-03-31,1950 A KELLOGG AVENUE,5.793132e+17,6.000000,0.0,0.0,1.277419e+05,1.277419e+05
24,2005-03-31,1988 ABBASSI LIVING TR DATED 4/8/88,2.477465e+17,5.000000,0.0,0.0,1.971134e+06,1.971134e+06
25,2005-03-31,1992 KINCAID TRUST,9.990123e+19,6.000000,0.0,0.0,1.081544e+05,1.081544e+05
26,2005-03-31,1997 SCHON REVOCABLE TRUST,9.580994e+19,6.000000,0.0,0.0,5.170076e+05,5.170076e+05
27,2005-03-31,1999 K AND P OFFEL REV TRUST,6.673201e+19,1.000000,0.0,0.0,3.254755e+05,3.254755e+05
28,2005-03-31,2000 STEWART REV TRUST,9.990205e+19,6.000000,0.0,0.0,9.000000e+05,9.000000e+05
29,2005-03-31,2002 DAVIS PROPERTY L P,9.991648e+19,6.000000,0.0,0.0,6.384479e+05,6.384479e+05
...,...,...,...,...,...,...,...,...
171093,2017-12-31,"YACHT HARBOR MHP, LLC",9.918958e+19,7.000000,0.0,0.0,2.672491e+06,2.672491e+06
171094,2017-12-31,"YAZDANI PROPERTIES, LLC",9.924259e+19,4.000000,0.0,0.0,8.373381e+05,8.373381e+05
171095,2017-12-31,YECHIEL ROSENFELD,7.960316e+19,3.000000,0.0,0.0,8.028064e+05,8.028064e+05
171096,2017-12-31,YEPREMIAN FAMILY DISCLAIMER TRUST,9.928020e+19,4.000000,0.0,0.0,2.344330e+06,2.344330e+06
171097,2017-12-31,YESHIVATH TORATH EMETH ACADEMY,9.928097e+19,7.000000,0.0,0.0,5.092405e+06,5.092405e+06
171098,2017-12-31,YEUNG AE KIM,5.091376e+19,7.000000,0.0,0.0,1.722004e+06,1.722004e+06
171099,2017-12-31,"YIPPEE HI HO CALLE, LLC",9.928289e+19,6.000000,0.0,0.0,8.809604e+05,8.809604e+05
171100,2017-12-31,YOKO NAGATA REVOCABLE TRUST,6.449569e+19,3.000000,0.8,1.2,1.168964e+06,1.168964e+06
171101,2017-12-31,YONG JA KIM,5.091380e+19,4.000000,0.0,0.0,2.217899e+06,2.217899e+06
171102,2017-12-31,"YOSHIDA REAL ESTATE HOLDINGS, LLC",9.935714e+19,5.000000,0.0,0.0,5.411331e+06,5.411331e+06
171103,2017-12-31,"YOUNG FAMILY TRUST DATED AUGUST 4, 2011",9.938586e+19,4.666667,0.0,0.0,9.129412e+05,9.129412e+05
171104,2017-12-31,YOUNG MOBILE HOME PARK LLC,9.940133e+19,4.000000,0.0,0.0,1.549733e+06,1.549733e+06
171105,2017-12-31,YOUNG'S HOLDINGS INC,9.941714e+19,6.000000,0.0,0.0,5.649676e+06,5.649676e+06
171106,2017-12-31,YOURITAN CONSTRUCTION COMPANY,9.942249e+19,4.000000,0.0,0.0,3.528716e+06,3.528716e+06
171107,2017-12-31,"YS PROPERTIES, LLC",9.944069e+19,5.000000,0.0,0.0,1.989961e+06,1.989961e+06
171108,2017-12-31,"YTURRALDE BUILDING, LLC",9.944095e+19,6.000000,0.0,0.0,5.900470e+05,5.900470e+05
171109,2017-12-31,YUAN SHEN,8.344497e+19,3.000000,1.0,2.0,1.919702e+06,1.919702e+06
171110,2017-12-31,YUAN SHEN,8.344497e+19,5.000000,0.0,0.0,4.292902e+06,4.292902e+06
171111,2017-12-31,YULE3.SP.1.LLC,9.947724e+19,5.000000,0.0,0.0,1.125106e+06,1.125106e+06
171112,2017-12-31,YUREN ZHANG,9.957227e+19,4.000000,0.0,0.0,9.643488e+05,9.643488e+05
171113,2017-12-31,YVMHC LLC A CALIFORNIA,9.948691e+19,5.000000,0.0,0.0,2.447101e+06,2.447101e+06
171114,2017-12-31,Z & A ASSOCIATES INC,9.949226e+19,4.000000,0.0,0.0,2.427111e+06,2.427111e+06
171115,2017-12-31,"ZADRO PARTNERS, LLC",9.949760e+19,4.000000,0.0,0.0,4.979214e+06,4.979214e+06
171116,2017-12-31,ZAMIR INVESTMENT LLC,9.951604e+19,4.000000,0.0,0.0,1.297024e+06,1.297024e+06
171117,2017-12-31,ZIP-O-LOG MILLS INC,9.965038e+19,5.000000,0.0,0.0,3.272500e+06,3.272500e+06
171118,2017-12-31,"ZK LIVERMORE PROPERTIES, LLC",9.969488e+19,5.000000,0.0,0.0,2.415867e+06,2.415867e+06
171119,2017-12-31,"ZMZ, LLC",9.969613e+19,4.000000,0.0,0.0,2.107293e+06,2.107293e+06
171120,2017-12-31,ZOREH MARASHI,5.685696e+19,4.000000,0.0,0.0,1.185458e+06,1.185458e+06
171121,2017-12-31,"ZUMA 8TH STREET, LLC",9.976717e+19,5.000000,0.0,0.0,1.445115e+06,1.445115e+06
171122,2017-12-31,ZUMA TRADING INC,9.976658e+19,3.000000,0.0,0.0,4.862138e+06,4.862138e+06

In [16]:
a=(pd.DataFrame(df.groupby(['FACILITY_NUM','DATE'])['CRR'].agg(['max']))).reset_index().rename_axis(None,axis=1)##Append this one to the riginal dataset

In [17]:
dfCustMaxCrrCom2=pd.merge(dfFacilityCom2,a,on =['FACILITY_NUM','DATE'],how='left')

In [19]:
dfCustMaxCrrCom2.to_excel('dfCustMaxCrrCom2.xlsx', index  = True)   ## Target Variable dataset

PermissionError: [Errno 13] Permission denied: 'dfCustMaxCrrCom2.xlsx'

In [20]:
TESTCustNum=dfCustMaxCrrCom2.groupby(['DATE'])['CUST_NAME'].agg(['count'])

In [22]:
TESTCustNum  ##same

            count
DATE
2005-03-31   2577
2005-06-30   2534
2005-09-30   2501
2005-12-31   4283
2006-03-31   4233
2006-06-30   4235
2006-09-30   4290
2006-12-31   4313
2007-03-31   4331
2007-06-30   4384
2007-09-30   4376
2007-12-31   4469
2008-03-31   4514
2008-06-30   4542
2008-09-30   4506
2008-12-31   4489
2009-03-31   4453
2009-06-30   4360
2009-09-30   4248
2009-12-31   4158
2010-03-31   4080
2010-06-30   4054
2010-09-30   2080
2010-12-31   2024
2011-03-31   2018
2011-06-30   2051
2011-09-30   2109
2011-12-31   2170
2012-03-31   2201
2012-06-30   2104
2012-09-30   2071
2012-12-31   2025
2013-03-31   1971
2013-06-30   2790
2013-09-30   3061
2013-12-31   3008
2014-03-31   2946
2014-06-30   2969
2014-09-30   2988
2014-12-31   3053
2015-03-31   3087
2015-06-30   3102
2015-09-30   3124
2015-12-31   3160
2016-03-31   3226
2016-06-30   3222
2016-09-30   3207
2016-12-31   3180
2017-03-31   3152
2017-06-30   3121
2017-09-30   3041
2017-12-31   2932

In [23]:
TestDowngrade2=dfCustMaxCrrCom2.groupby(['DATE'])['Downgrade'].agg(['mean'])

In [25]:
pd.DataFrame(TestDowngrade2)

                mean
DATE
2005-03-31  0.009960
2005-06-30  0.012628
2005-09-30  0.019059
2005-12-31  0.010079
2006-03-31  0.010040
2006-06-30  0.014522
2006-09-30  0.016162
2006-12-31  0.013216
2007-03-31  0.017740
2007-06-30  0.016842
2007-09-30  0.029220
2007-12-31  0.054737
2008-03-31  0.037605
2008-06-30  0.032089
2008-09-30  0.059242
2008-12-31  0.069418
2009-03-31  0.089072
2009-06-30  0.051865
2009-09-30  0.034323
2009-12-31  0.049033
2010-03-31  0.063329
2010-06-30  0.025294
2010-09-30  0.044671
2010-12-31  0.060282
2011-03-31  0.087611
2011-06-30  0.068594
2011-09-30  0.071815
2011-12-31  0.079608
2012-03-31  0.066124
2012-06-30  0.042228
2012-09-30  0.045791
2012-12-31  0.029623
2013-03-31  0.034347
2013-06-30  0.073602
2013-09-30  0.050074
2013-12-31  0.033134
2014-03-31  0.038640
2014-06-30  0.027190
2014-09-30  0.031983
2014-12-31  0.025596
2015-03-31  0.032631
2015-06-30  0.024017
2015-09-30  0.029786
2015-12-31  0.032395
2016-03-31  0.041569
2016-06-30  0.056926
2016-09-30  0.043070
2016-12-31  0.047804
2017-03-31  0.059524
2017-06-30  0.038342
2017-09-30  0.038231
2017-12-31  0.051167